[DEFAULT]
ncols = 2
nrows = 1
sharex = false
sharey = true
styles = maps lipari_r aspect_auto 
vertical_cbar = false
horizontal_cbar = true
left = 0.85
right = 0.3
top = 0.6
bottom = 0.5
hspace = 0.5
cbar_spacing = 0.1
labelpad = 5
label_xpad = 0.45
label_ypad = -0.7
xunit = arcsec
yunit = km/s
xname = Offset
yname = Velocity
name = Intensity
unit = mJy/beam
stretch = linear
nsigma = 3
xticks_fmt = {x:.1f}
yticks_fmt = {x:.0f}
inverty = true
ticks_color = k
enumerate = false
label_position = 0.03 0.92
vlines = 0 arcsec
vlines_linestyle = :
vlines_color = #adacac
hlines_linestyle = --
hlines_color = #adacac
self_contours = true
contour_linewidth = 0.5
contour_stretch = log
contour_colors = #494a49
vmin = 0. mJy/beam
basedir = ..
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma${alma}_pvmaps
deg = $$^\circ$$
# Colors
class = k
label_alpha = 0.9
label_edgecolor = ${class}
label_font_color = ${class}
label = PA=${paval}${deg}

[G35.13_alma6_pvmap_rot]
loc = 0 0
source = G35.13-0.74
alma = 6
almae = 7
paval = 95
pvmap = ${results}/${source}_alma6_rotation.CH3CN_K3.ra284.52617_dec1.61867.PA${paval}.fits
xlim = -0.25 0.25 arcsec
hlines = 35.53 km/s
rms = 2.5 mJy/beam
vmax = 25 mJy/beam
markers = 0.15 arcsec 39.5 km/s, -0.005 arcsec 30.2 km/s
markers_physframe = data
markers_marker = v, ^
markers_mec = #46eff2
markers_mfc = #46eff2
markers_ms = 10

[G35.13_alma6_pvmap_out]
loc = 0 1
source = G35.13-0.74
alma = 6
paval = 185
pvmap = ${results}/${source}_alma6_rotation.CH3CN_K3.ra284.52617_dec1.61867.PA${paval}.fits
xlim = -0.25 0.25 arcsec
hlines = 35.53 km/s
rms = 2.5 mJy/beam
vmax = 25 mJy/beam
