[DEFAULT]
ncols = 2
nrows = 1
sharex = false
sharey = true
styles = maps lipari_r aspect_auto 
vertical_cbar = false
horizontal_cbar = true
left = 0.85
right = 0.2
top = 0.6
bottom = 0.5
hspace = 0.5
cbar_spacing = 0.1
labelpad = 5
label_xpad = 0.45
label_ypad = -0.7
xunit = arcsec
yunit = km/s
xname = Offset
yname = Velocity
name = Intensity
unit = mJy/beam
stretch = linear
nsigma = 3
xticks_fmt = {x:.1f}
yticks_fmt = {x:.0f}
inverty = true
ticks_color = k
enumerate = false
label_position = 0.03 0.92
vlines = 0 arcsec
vlines_linestyle = :
vlines_color = #adacac
hlines_linestyle = --
hlines_color = #adacac
self_contours = true
contour_linewidth = 0.5
contour_stretch = log
contour_colors = #494a49
vmin = 0. mJy/beam
basedir = ..
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma${alma}_pvmaps
deg = $$^\circ$$
# Colors
class = k
label_alpha = 0.9
label_edgecolor = ${class}
label_font_color = ${class}
label = PA=${paval}${deg}

[I16562_alma1_pvmap_rot]
loc = 0 0
source = IRAS_165623959
alma = 1
paval = 10
#label = IRAS 16562-3959 ALMAe${almae} PA=${paval}${deg}
pvmap = ${results}/${source}_alma1_rotation.CH3CN_K3.ra254.92344_dec-40.06212.PA${paval}.fits
hlines = -16.86 km/s
rms = 1.4 mJy/beam
vmax = 32 mJy/beam

[I16562_alma1_pvmap_out]
loc = 0 1
source = IRAS_165623959
alma = 1
paval = 100
#label = IRAS 16562-3959 ALMAe${almae} PA=${paval}${deg}
pvmap = ${results}/${source}_alma1_rotation.CH3CN_K3.ra254.92344_dec-40.06212.PA${paval}.fits
hlines = -16.86 km/s
rms = 1.4 mJy/beam
vmax = 32 mJy/beam

