[DEFAULT]
ncols = 1
nrows = 1
sharex = false 
sharey = false
styles = maps vik
name = Velocity
unit = km/s
stretch = linear
vertical_cbar = false
horizontal_cbar = true
left = 1.3
right = 0.15
top = 0.6
bottom = 0.5
hspace = 0.1
vspace = -0.2
cbar_spacing = 0.1
set_xlabel = true
set_ylabel = true
label_xpad = 0.45
label_ypad = -0.7
xticks_fmt = hh:mm:ss.ss
yticks_fmt = dd:mm:ss.s
compute_ticks = false
ticks_color = k
scale_color = k
self_contours = false
contour_linewidth = 2.0
contour_colors = #7f7f7f
contour_stretch = log
negative_nsigma = 3
label_position = 0.04 0.92
# Units
ignore_units = false
labelpad = 5
labelpad_cbar2 = 5
# Recenter
radius = 0.5 arcsec
# Beam
plot_beam = true
beam_zorder = 4
beam_color = #3bb802
#Artists
markers = ${center}
markers_marker = x
markers_mec = k
markers_fillstyle = none
markers_ms = 10
markers_mew = 4.0
markers_zorder = 7
scale_size = 500 au
arrows = ${center}
arrows_color = #f93dff
arrows_linewidth = 3
# Non-standard
basedir = ../
contdir = ${basedir}/source_data/continuum

[G29_alma1_moment1]
loc = 0 0
source = G29.96-0.02
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma1_moments
image = ${results}/CH3OH_18_3_15_-17_4_14_A_vt_0_width40.subcube.moment1.fits
shift_data = -97.25 km/s
label = ${source} ALMAe1 CH$$_3$$OH
# Range
vmin = -6 km/s
vmax = 6 km/s
# Recenter
center = 18h46m03.77860s -02d39m22.3746s icrs
radius = 0.6 arcsec
# Artists
scale = 18h46m03.742s -02d39m22.8s icrs
scale_distance = 5.26 kpc
arrows = ${center}, ${center}
arrows_color = #f93dff, #02b829
arrows_ls = -, --
arrows_style = ->, -
arrows_pa = 155 deg, 142 deg
#arrows_pa = 110 deg

[G29_alma1_continuum]
loc = 0 0
contour = ${contdir}/G29.96-0.02.config8.cont_avg.selfcal_0.5_hogbom.image.fits
ignore_units = true
beam_color = ${contour_colors}
beam_zorder = 5

