[DEFAULT]
ncols = 2
nrows = 1
sharex = false
sharey = true
styles = maps lipari_r aspect_auto 
vertical_cbar = false
horizontal_cbar = true
left = 0.85
right = 0.2
top = 0.6
bottom = 0.5
hspace = 0.5
cbar_spacing = 0.1
labelpad = 5
label_xpad = 0.45
label_ypad = -0.7
xunit = arcsec
yunit = km/s
xname = Offset
yname = Velocity
name = Intensity
unit = mJy/beam
stretch = linear
nsigma = 3
xticks_fmt = {x:.1f}
yticks_fmt = {x:.0f}
inverty = true
ticks_color = k
enumerate = false
label_position = 0.03 0.92
vlines = 0 arcsec
vlines_linestyle = :
vlines_color = #adacac
hlines_linestyle = --
hlines_color = #adacac
self_contours = true
contour_linewidth = 0.5
contour_stretch = log
contour_colors = #494a49
vmin = 0. mJy/beam
basedir = ..
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma${alma}_pvmaps
deg = $$^\circ$$
# Colors
class = #2f52f0
keplerian = #ef2d56
label_alpha = 0.9
label_edgecolor = ${class}
label_font_color = ${class}

[G333.23_alma3_pvmap_rot]
loc = 0 0
source = G333.23-0.06
alma = 3
almae = 5
paval = 220
pvmap = ${results}/${source}_alma3_rotation.CH3CN_K3.ra244.96202_dec-50.25292.PA${paval}.fits
xlim = -0.4 0.4 arcsec
hlines = -87.04 km/s
rms = 1.1 mJy/beam
vmax = 22 mJy/beam
label = PA=${paval}${deg} - $$\alpha{=}-0.86$$

[G333.23-0.06_alma3_pvedge]
loc = 0 0
structured_array = ../results/G333.23-0.06/c5c8/per_hot_core/alma3_pvmaps/G333.23-0.06_alma3_rotation.CH3CN_K3.ra244.96202_dec-50.25292.PA220.edge.dat
marker = o
color = ${contour_colors}
linestyle = none
plot_keys = OFFSET, VRAD

[G333.23-0.06_alma3_keplerian_fit]
loc = 0 0
function = piecewise_powerlaw
xrange = -0.4950000000000396 0.4950000000000396 arcsec
yunit = km/s
sampling = 500
linestyle = --
color = ${keplerian} 
model_mass = 11.40865048432779 solMass
model_amplitude = -10.06028417786803
model_x_0 = 0.019230769230769232
model_alpha = 0.5
coeficients = ${model_amplitude} ${model_x_0} ${model_alpha} ${model_vsys} ${model_offset0}
model_sd_mass = 1.01310012340932 solMass
model_vsys = -87.49187541341088
model_offset0 = 0.02790983464792463
model_sd_amplitude = 0.4466818909095302
model_sd_x_0 = 0.0
model_sd_alpha = 0.0
model_sd_vsys = 0.0
model_sd_offset0 = 0.0
model_info = 1

[G333.23-0.06_alma3_unrestricted_fit]
loc = 0 0
function = piecewise_powerlaw
xrange = -0.4950000000000396 0.4950000000000396 arcsec
yunit = km/s
sampling = 500
linestyle = -
color = ${class}
model_amplitude = -17.777338785559206
model_x_0 = 0.019230769230769232
model_alpha = 0.8643038392815027
coeficients = ${model_amplitude} ${model_x_0} ${model_alpha} ${model_vsys} ${model_offset0}
model_vsys = -87.49187541341088
model_offset0 = 0.02790983464792463
model_sd_amplitude = 2.053015482173104
model_sd_x_0 = 0.0
model_sd_alpha = 0.06987538714240808
model_sd_vsys = 0.1708533753375274
model_sd_offset0 = 0.004107077591354643
model_info = 1

[G333.23_alma3_pvmap_out]
loc = 0 1
source = G333.23-0.06
alma = 3
almae = 5
paval = 310
pvmap = ${results}/${source}_alma${alma}_rotation.CH3CN_K3.ra244.96202_dec-50.25292.PA${paval}.fits
xlim = -0.32 0.32 arcsec
hlines = -87.04 km/s
rms = 1.1 mJy/beam
vmax = 22 mJy/beam
label = PA=${paval}${deg}
label_edgecolor = k
label_font_color = k

[G333.23-0.06_alma3_infall]
loc = 0 1
function = piecewise_powerlaw
xrange = -0.4950000000000396 0.4950000000000396 arcsec
yunit = km/s
sampling = 500
linestyle = --
color = ${keplerian} 
model_mass = 11.40865048432779 solMass
model_amplitude = -10.06028417786803
model_x_0 = 0.038461538
model_alpha = 0.5
coeficients = ${model_amplitude} ${model_x_0} ${model_alpha} ${model_vsys} ${model_offset0}
model_sd_mass = 1.01310012340932 solMass
model_vsys = -87.49187541341088
model_offset0 = 0.02790983464792463

[G333.23-0.06_alma3_infall_mirror]
loc = 0 1
function = piecewise_powerlaw
xrange = -0.4950000000000396 0.4950000000000396 arcsec
sampling = 500
linestyle = --
color = ${keplerian} 
model_mass = 11.40865048432779 solMass
model_amplitude = 10.06028417786803
model_x_0 = 0.038461538461538464
model_alpha = 0.5
coeficients = ${model_amplitude} ${model_x_0} ${model_alpha} ${model_vsys} ${model_offset0}
model_vsys = -87.49187541341088
model_offset0 = 0.02790983464792463
model_info = 1

