[DEFAULT]
ncols = 2
nrows = 1
sharex = false
sharey = false
styles = maps inferno aspect_auto thick_border
#styles = maps lipari aspect_auto thick_border
vertical_cbar = false
horizontal_cbar = true
left = 0.8
right = 0.2
top = 0.6
bottom = 0.5
hspace = 0.2
cbar_spacing = 0.1
labelpad = 5
label_xpad = 0.45
label_ypad = -0.7
xunit = arcsec
yunit = km/s
xname = Offset
yname = Velocity
name = Intensity
unit = mJy/beam
stretch = linear
nsigma = 3
contour_linewidth = 0.5
contour_stretch = log
xticks_fmt = {x:.1f}
yticks_fmt = {x:.0f}
inverty = true
ticks_color = w
label = ${source} ALMAe${almae} PA=${paval}${deg}
label_position = 0.03 0.92
vlines = 0 arcsec
vlines_linestyle = :
vlines_color = #35ff2c
hlines_linestyle = --
hlines_color = #35ff2c
self_contours = true
vmin = 0. mJy/beam
basedir = ..
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma${alma}_pvmaps
deg = $$^\circ$$

[G10_alma1b_pvmap_rot]
loc = 0 0
source = G10.62-0.38
alma = 1b
almae = 2
paval = -30
pvmap = ${results}/${source}_alma${alma}_rotation.CH3CN_K3.ra272.61955_dec-19.93051.PA${paval}.fits
xlim = -0.5 0.5 arcsec
hlines = 0.851 km/s
rms = 1.6 mJy/beam
vmax = 16 mJy/beam

[G10_alma1b_pvmap_out]
loc = 0 1
source = G10.62-0.38
alma = 1b
almae = 2
paval = 60
pvmap = ${results}/${source}_alma1b_rotation.CH3CN_K3.ra272.61955_dec-19.93051.PA${paval}.fits
xlim = -0.5 0.5 arcsec
hlines = 0.851 km/s
rms = 1.6 mJy/beam
vmax = 16 mJy/beam
