[DEFAULT]
ncols = 2
nrows = 4
sharex = false 
sharey = false
styles = maps inferno aspect_auto
vertical_cbar = false
horizontal_cbar = true
left = 0.8
right = 0.2
top = 0.6
bottom = 0.5
hspace = 0.2
cbar_spacing = 0.1
labelpad = 5
label_xpad = 0.45
label_ypad = -0.7
xunit = arcsec
yunit = km/s
xname = Offset
yname = Velocity
nsigma = 3
contour_linewidth = 0.5
contour_stretch = log
xticks_fmt = {x:.1f}
yticks_fmt = {x:.0f}
inverty = true
ticks_color = w
# Artists
vlines = 0 arcsec
vlines_linestyle = :
vlines_color = #35ff2c
# Vlsr
hlines_linestyle = --
hlines_color = #35ff2c
# Contours
self_contours = true
vmin = 0. mJy/beam
# Non-standard
basedir = /Volumes/Pegasus32 R8/dihca
contdir = ${basedir}/source_data/continuum
deg = $$^\circ$$

[G335.579_hmc2_pvmap_rot]
loc = 0 0
source = G335.579-0.272
paval = 202
results = ${basedir}/results/${source}/c5c8/per_hot_core/hmc2_pvmaps
pvmap = ${results}/${source}_hmc2_rotation.CH3OH_spw0.ra247.74430_dec-48.73089.PA${paval}.fits
name = Intensity
unit = mJy/beam
label = ${source} ALMA3 PA=${paval}${deg}
stretch = linear
#compute_ticks = false
# Vlsr
hlines = -53.1 km/s
# Contours
vmax = 16 mJy/beam

[G335.579_hmc2_pvmap_rot_edge_fit]
loc = 0 0
function = piecewise_powerlaw
xrange = -0.495 0.495 arcsec
coeficients = -18.08615898447974 0.03076923076923077 0.5589393164805655 -48.58472784150222 0.03939858396674608
sampling = 500
yunit = arcsec

[G335.579_hmc1_pvmap_out]
loc = 0 1
source = G335.579-0.272
paval = 292
results = ${basedir}/results/${source}/c5c8/per_hot_core/hmc2_pvmaps
pvmap = ${results}/${source}_hmc2_rotation.CH3OH_spw0.ra247.74430_dec-48.73089.PA${paval}.fits
name = Intensity
unit = mJy/beam
label = ${source} ALMA3 PA=${paval}${deg}
stretch = linear
#compute_ticks = false
# Vlsr
hlines = -53.1 km/s
# Contours
vmax = 16 mJy/beam

[G335.78_hmc1_pvmap_rot]
loc = 1 0
source = G335.78+0.17
paval = 34
results = ${basedir}/results/${source}/c5c8/per_hot_core/hmc1_pvmaps
pvmap = ${results}/${source}_hmc1_rotation.CH3OH_spw0.ra247.44723_dec-48.26452.PA${paval}.fits
name = Intensity
unit = mJy/beam
label = ${source} ALMA1 PA=${paval}${deg}
stretch = linear
#compute_ticks = false
# Vlsr
hlines = -48.94 km/s
# Contours
vmax = 40 mJy/beam

[G335.78_hmc1_pvmap_out]
loc = 1 1
source = G335.78+0.17
paval = 125
results = ${basedir}/results/${source}/c5c8/per_hot_core/hmc1_pvmaps
pvmap = ${results}/${source}_hmc1_rotation.CH3OH_spw0.ra247.44723_dec-48.26452.PA${paval}.fits
name = Intensity
unit = mJy/beam
label = ${source} ALMA1 PA=${paval}${deg}
stretch = linear
#compute_ticks = false
# Vlsr
hlines = -48.94 km/s
# Contours
vmax = 40 mJy/beam

[G335.78_hmc2_pvmap_rot]
loc = 2 0
source = G335.78+0.17
paval = 65
results = ${basedir}/results/${source}/c5c8/per_hot_core/hmc2_pvmaps
pvmap = ${results}/${source}_hmc2_rotation.CH3OH_spw0.ra247.44221_dec-48.26388.PA${paval}.fits
name = Intensity
unit = mJy/beam
label = ${source} ALMA2 PA=${paval}${deg}
stretch = linear
#compute_ticks = false
# Vlsr
hlines = -50.51 km/s
# Contours
vmax = 32 mJy/beam

[G335.78_hmc2_pvmap_out]
loc = 2 1
source = G335.78+0.17
paval = 155
results = ${basedir}/results/${source}/c5c8/per_hot_core/hmc2_pvmaps
pvmap = ${results}/${source}_hmc2_rotation.CH3OH_spw0.ra247.44221_dec-48.26388.PA${paval}.fits
name = Intensity
unit = mJy/beam
label = ${source} ALMA2 PA=${paval}${deg}
stretch = linear
#compute_ticks = false
# Vlsr
hlines = -50.51 km/s
# Contours
vmax = 32 mJy/beam

[G336_hmc1_pvmap_rot]
loc = 3 0
source = G336.01-0.82
paval = 125
results = ${basedir}/results/${source}/c5c8/per_hot_core/hmc1_pvmaps
pvmap = ${results}/${source}_hmc1_rotation.CH3OH_spw0.ra248.78858_dec-48.77991.PA${paval}.fits
name = Intensity
unit = mJy/beam
label = ${source} ALMA1 PA=${paval}${deg}
stretch = linear
#compute_ticks = false
# Vlsr
hlines = -47.2 km/s
# Contours
vmax = 60 mJy/beam

[G336_hmc1_pvmap_out]
loc = 3 1
source = G336.01-0.82
paval = 35
results = ${basedir}/results/${source}/c5c8/per_hot_core/hmc1_pvmaps
pvmap = ${results}/${source}_hmc1_rotation.CH3OH_spw0.ra248.78858_dec-48.77991.PA${paval}.fits
name = Intensity
unit = mJy/beam
label = ${source} ALMA1 PA=${paval}${deg}
stretch = linear
#compute_ticks = false
# Vlsr
hlines = -47.2 km/s
# Contours
vmax = 60 mJy/beam
