[DEFAULT]
ncols = 3
nrows = 3
sharex = false 
sharey = false
styles = maps vik
name = Velocity
unit = km/s
stretch = linear
vertical_cbar = false
horizontal_cbar = true
left = 1.3
right = 0.15
top = 0.6
bottom = 0.5
hspace = 0.1
vspace = -0.2
cbar_spacing = 0.1
override_xlabel = true
override_ylabel = true
set_xlabel = false
set_ylabel = false
label_xpad = 0.45
label_ypad = -0.7
xticks_fmt = hh:mm:ss.ss
yticks_fmt = dd:mm:ss.s
compute_ticks = false
ticks_color = k
scale_color = k
self_contours = false
contour_linewidth = 2.0
contour_colors = #7f7f7f
contour_stretch = log
negative_nsigma = 3
label_position = 0.04 0.92
enumerate_modulus = 12
# Units
ignore_units = false
labelpad = 5
labelpad_cbar2 = 5
# Recenter
radius = 0.5 arcsec
# Beam
plot_beam = true
beam_zorder = 4
beam_color = #3bb802
#Artists
markers = ${center}
markers_marker = x
markers_mec = k
markers_fillstyle = none
markers_ms = 10
markers_mew = 4.0
markers_zorder = 7
scale_size = 500 au
arrows = ${center}
arrows_color = #f93dff
arrows_linewidth = 3
# Non-standard
basedir = ../
contdir = ${basedir}/source_data/continuum

[G10_alma1a_moment1]
loc = 0 0
source = G10.62-0.38
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma1a_moments
image = ${results}/CH3CN_12_3_-11_3__width30.subcube.moment1.fits
shift_data = -0.851 km/s
label = ${source} ALMAe1 CH$$_3$$CN
# Range
vmin = -5 km/s
vmax = 5 km/s
# Recenter
center = 18h10m28.60755s -19d55m49.4614s icrs
# Artists
scale = 18h10m28.58s -19d55m49.9s icrs
scale_distance = 4.95 kpc
arrows_pa = 0 deg

[G10_alma1b_moment1]
loc = 0 1
source = G10.62-0.38
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma1b_moments
image = ${results}/CH3CN_12_3_-11_3__width30.subcube.moment1.fits
shift_data = 1.51 km/s
label = ${source} ALMAe2 CH$$_3$$CN
# Range
vmin = -5 km/s
vmax = 5 km/s
# Recenter
center = 18h10m28.69080s -19d55m49.8281s icrs
radius = 0.3 arcsec
# Artists
scale = 18h10m28.675s -19d55m50.1s icrs
scale_distance = 4.95 kpc
arrows_pa = -30 deg

[G10_alma1c_moment1]
loc = 0 2
source = G10.62-0.38
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma1c_moments
image = ${results}/CH3CN_12_3_-11_3__width30.subcube.moment1.fits
shift_data = 1.35 km/s
label = ${source} ALMAe3 CH$$_3$$CN
# Range
vmin = -5 km/s
vmax = 5 km/s
# Recenter
center = 18h10m28.73003s -19d55m49.4837s icrs
radius = 0.3 arcsec
# Artists
scale = 18h10m28.712s -19d55m49.7s icrs
scale_distance = 4.95 kpc
arrows_pa = 180 deg

[G10_continuum]
loc = 0 0, 0 1, 0 2
contour = ${contdir}/G10.62-0.38.config8.cont_avg.selfcal_0.5_hogbom.image.fits
ignore_units = true
beam_color = ${contour_colors}
beam_zorder = 5

[G11.1_moment1]
loc = 1 0
source = G11.1-0.12
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma1_moments
image = ${results}/CH3CN_12_3_-11_3__width30.subcube.moment1.fits
shift_data = -31.85 km/s
label = ${source} ALMAe1 CH$$_3$$CN
# Range
vmin = -7 km/s
vmax = 7 km/s
# Recenter
center = 18h10m28.24854s -19d22m30.3222s icrs
radius = 0.3 arcsec
# Artists
scale = 18h10m28.23s -19d22m30.59s icrs
scale_distance = 3.0 kpc
arrows_pa = -65 deg

[G11.1_continuum]
loc = 1 0
contour = ${contdir}/G11.1-0.12.config8.cont_avg.selfcal_0.5_hogbom.image.fits
ignore_units = true
beam_color = ${contour_colors}
beam_zorder = 5

[G11.92_alma1a_moment1]
loc = 1 1
source = G11.92-0.61
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma1a_moments
image = ${results}/CH3CN_12_3_-11_3__width50.subcube.moment1.fits
shift_data = -35.1 km/s
label = ${source} ALMAe1 CH$$_3$$CN
# Range
vmin = -6 km/s
vmax = 6 km/s
# Recenter
center = 18h13m58.11097s -18d54m20.2010s icrs
# Artists
scale = 18h13m58.08s -18d54m20.6s icrs
scale_distance = 3.37 kpc
arrows = ${center}, ${center}
arrows_color = #f93dff, #02b829
arrows_ls = -, --
arrows_style = ->, -
arrows_pa = 129 deg, 53 deg

[G11.92_alma1b_moment1]
loc = 1 2
source = G11.92-0.61
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma1b_moments
image = ${results}/CH3CN_12_3_-11_3__width24.subcube.moment1.fits
shift_data = -37 km/s
label = ${source} ALMAe5 CH$$_3$$CN
# Range
vmin = -4 km/s
vmax = 4 km/s
# Recenter
center = 18h13m58.12719s -18d54m20.7199s icrs
radius = 0.3 arcsec
# Artists
scale = 18h13m58.11s -18d54m21.0s icrs
scale_distance = 3.37 kpc
arrows_pa = -15 deg

[G11.92_alma3_moment1]
loc = 2 0
override_xlabel = true
override_ylabel = true
set_xlabel = true
set_ylabel = true
source = G11.92-0.61
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma3_moments
image = ${results}/CH3CN_12_3_-11_3__width24.subcube.moment1.fits
shift_data = -35.7 km/s
label = ${source} ALMAe4 CH$$_3$$CN
# Range
vmin = -6 km/s
vmax = 6 km/s
# Recenter
center = 18h13m58.13491s -18d54m16.2731s icrs
radius = 0.4 arcsec
# Artists
scale = 18h13m58.11s -18d54m16.6s icrs
scale_distance = 3.37 kpc
arrows_pa = 225 deg

[G11.92_continuum]
loc = 1 1, 1 2, 2 0
contour = ${contdir}/G11.92-0.61.config8.cont_avg.selfcal_0.5_hogbom.image.fits
ignore_units = true
beam_color = ${contour_colors}
beam_zorder = 5

[G14.22-0.50_S_alma1_moment1]
loc = 2 1
source = G14.22-0.50_S
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma1_moments
image = ${results}/CH3OH_18_3_15_-17_4_14_A_vt_0_width30.subcube.moment1.fits
shift_data = -19.61 km/s
label = G14.22-0.50 S ALMAe2 CH$$_3$$OH
# Range
vmin = -6 km/s
vmax = 6 km/s
# Recenter
center = 18h18m12.86247s -16d57m20.3666s icrs
radius = 0.3 arcsec
# Artists
scale = 18h19m12.065s -20d47m31.4s icrs
scale_distance = 1.90 kpc
arrows = ${center}, ${center}
arrows_color = #f93dff, #02b829
arrows_ls = -, --
arrows_style = ->, -
arrows_pa = 170 deg, 75 deg

[G14.22-0.50_S_continuum]
loc = 2 1
contour = ${contdir}/G14.22-0.50_S.config8.cont_avg.selfcal_0.5_hogbom.image.fits
ignore_units = true
beam_color = ${contour_colors}
beam_zorder = 5

[G29_alma1_moment1]
loc = 2 2
source = G29.96-0.02
results = ${basedir}/results/${source}/c5c8/per_hot_core/alma1_moments
image = ${results}/CH3OH_18_3_15_-17_4_14_A_vt_0_width40.subcube.moment1.fits
shift_data = -97.25 km/s
label = ${source} ALMAe1 CH$$_3$$OH
# Range
vmin = -6 km/s
vmax = 6 km/s
# Recenter
center = 18h46m03.77860s -02d39m22.3746s icrs
radius = 0.6 arcsec
# Artists
scale = 18h46m03.742s -02d39m22.8s icrs
scale_distance = 5.26 kpc
arrows = ${center}, ${center}
arrows_color = #f93dff, #02b829
arrows_ls = -, --
arrows_style = ->, -
arrows_pa = 155 deg, 142 deg
#arrows_pa = 110 deg

[G29_alma1_continuum]
loc = 2 2
contour = ${contdir}/G29.96-0.02.config8.cont_avg.selfcal_0.5_hogbom.image.fits
ignore_units = true
beam_color = ${contour_colors}
beam_zorder = 5

